<div class="formrow">            
    <label>
        <span class="label">Email</span>
        <input name="email" type="email" required="true" value="{{ form.instance.user.email|default:'' }}" />            
    </label><br />
    {{ form.email.errors }}
</div>

<div class="formrow">
    <label>
        <span class="label">Fullname</span>
        <input name="fullname" type="text" value="{{ form.fullname.value|default:'' }}" />
    </label>
    <span class="help">optional</span>
    {{ form.fullname.errors }}
</div>

{% if not is_signup %}
<div class="formrow">
    <label>
        <span class="label">About you</span>
        <textarea name="about">{{ form.about.value|default:'' }}</textarea>
    </label>
    <span class="help">optional</span>
    {{ form.about.errors }}
</div>
{% endif %}

<div class="formrow">
    <label>
        <span class="label">Your timezone</span>
        <select name="timezone">
            <option value="0" {% if 8 == form.timezone.value %}selected="true"{% endif %}>UTC</option>
            <option value="1" {% if 1 == form.timezone.value %}selected="true"{% endif %}>+1: CET(Central European Time Zone)</option>
            <option value="8" {% if 8 == form.timezone.value %}selected="true"{% endif %}>+8: Taipei, Beijing, Chongqing, Hongkong</option>
        </select>
    </label>
</div>
