{% for img in image_list %}
<figure class="imgctn" imgid="{{ img.id }}"
        uri_f = "{{ img.uri_f }}" uri_ts = "{{ img.uri_ts }}">
    <div class="wrap">
        <img src="{{ img.uri_s }}" alt="{{ img.description }}" 
             width="{{ img.width_s }}" height="{{ img.height_s }}"/>
        <a class="view" href="#"></a>
        <div class="mask"></div>
    </div>        
    <figcaption>
        <p class="desc">{{ img.description }}</p>                
        <span class="status"></span>
    </figcaption>
</figure>
{% endfor %}