{% load hypo_tags %}
<article class="post">
    {% if post.title %}<h1>{{ post.title }}</h1>{% endif %}
    {% if post.summary %}
    <a class="summary" href="{{ post.uri }}" 
        target="_blank">{{ post.summary|safe }}<div class="indicator">&#x21f1;read more</div><div class="c"></div></a>
    {% else %}
    <div class="content">{{ post.text|safe }}</div>
    {% endif %}
    
    <footer>
        <div class="meta">
            <span class="updated">{{ post.updated|date:"Y-m-d H:i" }}</span>
        </div>
        
        <div class="operations">
            <a href="javascript:void(0)">Share</a>
            {% if site_perms.post %}
            <a href="/posts/u/{{ post.id_str }}/">Update</a>
            <a href="/posts/d/{{ post.id_str }}/">Delete</a>
            {% endif %}
        </div>
        <div class="c"></div>
    </footer>
</article>