<section class="post_list">
    {% for post in post_list %}
    <article>
        {% if post.title %}<h1>{{ post.title }}</h1>{% endif %}
        {% if post.content_summary %}
        <a class="summary {{ post.get_content_format }}" href="#">{{ post.content_summary|safe }}<div class="indicator">&#x25BC;expand&#x25BC;</div></a>
        {% endif %}
        <div class="content {{ post.get_content_format }} {% if not post.content_summary %}no_summary{% endif %}">{{ post.content|safe }}</div>
        <div class="meta">
            <span class="created">{{ post.created|date:"Y-m-d H:i" }}</span>
        </div>
    </article>
    {% endfor %}
</section>
<script>
(function($){
    $('.post_list').on('click', '.summary', function(evt){
        evt.preventDefault();
        
        $(this).closest('article').addClass('on');
    });
})(jQuery);
</script>