<div class="formrow slug">
    <label>
        <span class="label">http://{{ request.META.SERVER_NAME }}/site/</span>
        <input name="slug" type="text" required="true"
            value="{{ form.slug.value|default:'' }}" />
    </label><br />
    {{ form.slug.errors }}
</div>

<div class="formrow">            
    <label>
        <span class="label">Title</span>
        <input name="title" type="text" required="true" value="{{ form.title.value|default:'' }}" />            
    </label><br />
    {{ form.title.errors }}
</div>