{% extends 'hypo/layout/row-hbf_col-mr1r2.html' %}

{% block page_class %}pg-site{% endblock %}
 
{% block sec_m %}
<h1 class="site_name">Meow and Grrr by a Stray Cat</h1>
<section class="post_list">
    <article>
        <div class="content">Dreams keep me young
Only mirrors tell the time</div>
        <div class="meta">2012-01-31 14:23</div>
    </article>
    
    <article>
        <h3>What a Wonderful World</h3>
        <div class="content">I see trees of green, red roses too
I see them bloom for me and you 
And I think to myself, what a wonderful world...</div>
        <div style="display:none">I see skies of blue and clouds of white 
The bright blessed day, the dark sacred night 
And I think to myself, what a wonderful world 

The colours of the rainbow, so pretty in the sky 
Are also on the faces of people going by 
I see friends shakin' hands, sayin' "How do you do?" 
They're really saying "I love you" 

I hear babies cryin', I watch them grow 
They'll learn much more than I'll ever know 
And I think to myself, what a wonderful world 
Yes, I think to myself, what a wonderful world 

Oh yeah!</div>
        <div class="meta">2012-01-31 14:33</div>
    </article>
    
    <article>
        <div class="content">Winter is coming.</div>
        <div class="meta">2012-01-31 14:13</div>
    </article>
    
    <article>
        <div class="content">Description to this image.</div>
        <img src="{{ STATIC_URL }}hypo/i/demo/Liquid_glass_by_matthileo.jpg" 
                alt="" style="max-width:100%; max-height:400px" />
        <div class="meta">2012-01-31 14:13</div>
    </article>
    
    <style> 
.thumbs img {max-width:180px; max-height:180px;}
    </style>
    
    <article>
        <div class="content">Some of my favorite images</div>
        <div class="thumbs">
            <img src="{{ STATIC_URL }}hypo/i/demo/Serenity_Enchanted_by_sirpecangum.jpg" />
            <img src="{{ STATIC_URL }}hypo/i/demo/vamphuntd.jpg" />
        </div>
        <div class="meta"></div>
    </article>
    
    <article>
        <h3>What a Wonderful World</h3>
        <div class="thumbs">
            <img src="{{ STATIC_URL }}hypo/i/demo/Serenity_Enchanted_by_sirpecangum.jpg" />
            <img src="{{ STATIC_URL }}hypo/i/demo/vamphuntd.jpg" />
            <img src="{{ STATIC_URL }}hypo/i/demo/vampire-hunter-d-night.jpg" />
        </div>
        <div class="meta"></div>
    </article>
    
    <article>
        <h3>What a Wonderful World</h3>
        <div class="content">Some of my favorite images</div>
        <div class="thumbs">
            <!-- 4:3 -->
            <img src="{{ STATIC_URL }}hypo/i/demo/Serenity_Enchanted_by_sirpecangum.jpg" />
            <img src="{{ STATIC_URL }}hypo/i/demo/Serenity_Enchanted_by_sirpecangum.jpg" />
            <img src="{{ STATIC_URL }}hypo/i/demo/Serenity_Enchanted_by_sirpecangum.jpg" />
            <!-- with a wide one -->
            <img src="{{ STATIC_URL }}hypo/i/demo/vamphuntd.jpg" />
            <img src="{{ STATIC_URL }}hypo/i/demo/vamphuntd.jpg" />
            <img src="{{ STATIC_URL }}hypo/i/demo/WarCraftArtBig.jpg" />
            <!-- with a veticle one -->
            <img src="{{ STATIC_URL }}hypo/i/demo/vampire-hunter-d-night.jpg" />
            <img src="{{ STATIC_URL }}hypo/i/demo/The_Vampire_Hunter_D_by_Destinyfall_noBorder.jpg" />
            <img src="{{ STATIC_URL }}hypo/i/demo/vampire-hunter-d-night.jpg" />
        </div>
        <div class="meta"></div>
    </article>
    
    <article>
        <div class="content"></div>
        <div class="meta"></div>
    </article>
</section>
{% endblock %}

{% block sec_r1 %}
<section class="tags">
    <h4>tags</h4>
    <a class="tag" href="#">bike</a>
    <a class="tag" href="#">beauty</a>
    <a class="tag" href="#">basketball</a>
    <a class="tag" href="#">cat</a>
    <a class="tag" href="#">coding</a>
    <a class="tag" href="#">film</a>
    <a class="tag" href="#">gaming</a>
    <a class="tag" href="#">fighting</a>
</section>

<section class="archive">
    <h4>archive</h4>
    <a href="#">2012-1</a><br />
    <a href="#">2011-12</a><br />
    <a href="#">2011-11</a><br />
    <a href="#">2011-10</a><br />
    <a href="#">2011-9</a><br />
    <a href="#">2011-8</a><br />
    <a href="#">2011-7</a><br />
    <a href="#">2011-6</a><br />
</section>
{% endblock %}

{% block sec_r2 %}
<section class="author">
    <img src="{{ STATIC_URL }}hypo/i/demo/4042398855_83d4b31b2b_z.jpg" 
         alt="snow hellsing" width="260px" />
    <h2 class="fullname">Snow Hellsing</h2>
    <p class="intro">Just a stray cat</p>
</section>

<section class="photos">
    <h4><a href="#">photos</a></h4>
</section>
{% endblock %}

{% block layout_extra %}
{% endblock %}