{% extends 'hypo/layout/row-hbf_col-mr.html' %}

{% block page_class %}pg-image_list{% endblock %}
 
{% block sec_m %}
    {% include 'hypo/com/site_title.html' %}
    {% if page_title %}
    <h2 class="page_title">{{ page_title }}</h2>
    {% endif %}
    
    {% if owner == user %}
    <form class="upload_image_form" action="/images/upload/" method="POST" 
          enctype="application/x-www-form-urlencoded">
        <div class="status"></div>
        <input id="filefield_to_init" name="img" type="file" multiple="multiple" accept="image/*" />
        <div class="c"></div>
    </form>
    <script>
(function($){
    var j_field = $('#filefield_to_init').removeAttr('id');
   
    rcp.filefield.field2link(j_field, {
        link_text: 'upload images'
    });
    
    rcp.filefield.ajaxify(j_field, {
        upload_uri: '/images/upload_raw/',
    });
    
    rcp.j_doc.on(rcp.filefield.E_QUEUE_ADDED, function(evt, job){
        job.params = {
            filename: job.file.name
        }
    });
})(jQuery);
    </script>
    {% endif %}
    
    <div class="c"></div>
    
    <div id="imgls2init" class="image_list masonry">
        {% for img in image_list %}
            {% include 'hypo/com/image_container.html' %}
        {% empty %}
            {% if owner == user %}
        <p class="empty">Drag images onto this page</p>
            {% else %}
        <p class="empty">It's empty</p>
            {% endif %}
        {% endfor %}
    </div>
    
    {% if page_obj %}
    {% include 'hypo/com/pager_step.html' %}
    {% endif %}
    
    <script id="image_container_tpl" type="text/template">
        {% include 'hypo/com/image_container.html' %}
    </script>
    
    <script id="darkbox_tpl" type="text/template">
        {% include 'hypo/com/darkbox.html' %}
    </script>
    
    <script id="thumb_container_tpl" type="text/template">
        {% include 'hypo/com/thumb_container.html' %}
    </script>
    
    <script>
(function($){
    var j_imgls = $('#imgls2init').removeAttr('id'),
        j_imgctn_tpl = $($('#image_container_tpl').remove().text()),
        
        masonry = false;
        
    if(j_imgls.hasClass('masonry')){
        masonry = true;
    }
    
    if(masonry){
        j_imgls.masonry({
            itemSelector: '.image_container',
            //columnWidth: 200
        });
    }
    
    var masonry_reload_timeout = false;
        
    rcp.j_doc.on(rcp.filefield.E_QUEUE_ADDED, function(evt, job){
        var j_t = j_imgctn_tpl.clone(),
            j_img = j_t.find('img');
        
        j_t.attr('job_id', job.id).addClass('ing');
        j_img.attr('src', job.data_url);
        j_t.find('.desc').text(job.file.name);
        j_t.append($('<div class="mask" />'));
        
        if(masonry){
            j_img.one('load', function(){
                j_imgls.masonry('reload');
            });
        }
        
        j_imgls.prepend(j_t);
    });
    
    rcp.j_doc.on(rcp.filefield.E_UPLOAD_DONE, function(evt, job, resp){
        var j_t = j_imgls.find('[job_id={}]'.replace('{}', job.id));
        
        j_t.removeAttr('job_id').removeClass('ing');
        j_t.find('.mask').remove();
        j_t.attr('href', resp.uri);
        j_t.find('img').attr('src', resp.uri_s);
        
        hypo.darkbox.prepend_thumb_from_json(resp);
    });
    
    rcp.j_doc.on(rcp.filefield.E_UPLOAD_FAILED, 
                 function(evt, job, xhr, textStatus, errorThrown){
        var j_t = j_imgls.find('[job_id={}]'.replace('{}', job.id));
        
        j_t.removeAttr('job_id').removeClass('ing').addClass('err');
        j_t.find('.mask').text('failed');
        j_t.on('click', function(evt){
            j_t.hide('fast', function(evt){
                j_t.remove();
                if(masonry){
                    j_imgls.masonry('reload');
                }
            });
        });
    });
    
    j_imgls.on('click', '.image_container', function(evt){
        evt.preventDefault();
        
        var j_t = $(this);
        if(j_t.hasClass('ing') || j_t.hasClass('err')){return;}
        
        hypo.darkbox.from_uri(j_t.attr('href'));
    });
    
    hypo.darkbox.append_thumb_from_uri(location.href);
    
    j_imgls.infinitescroll({
        navSelector: '.pagination',
        nextSelector: '.pagination .next',
        itemSelector: '.image_list .image_container',
        loadingImg: '{{ STATIC_URL }}hypo/i/loading-220x19.gif'        
    }, function(e_new){
        j_imgls.masonry('appended', $(e_new));
    });
    
    rcp.j_doc.ajaxSuccess(function(evt, xhr, opt){
        if(/^\?page=\d+/.test(opt.url)){
            hypo.darkbox.append_thumb_from_uri(location.pathname + opt.url);
        }
    });
})(jQuery);
    </script>
{% endblock %}

{% block sec_r %}
    {% include 'hypo/com/site_owner_r.html' %}
    {% include 'hypo/com/site_nav_r.html' with cur='images' %}
{% endblock %}

{% block layout_extra %}
{% endblock %}