{% extends 'hypo/layout/row-bf_col-m.html' %}

{% block page_class %}pg-signup{% endblock %}

{% block sec_m %}
<form id="signupform" action="" method="POST">
    <h1>Signup</h1>
    
    {{ form.non_field_errors }}
    
    <fieldset>
        <legend>Your site</legend>
        <div class="formrow username">
            <label>
                <span class="label">http://{{ request.META.SERVER_NAME }}/site/</span>
                <input name="username" type="text" value="{{ form.username.value|default:'' }}" />
            </label><br />
            {{ form.username.errors }}
        </div>
        
        <div class="formrow">            
            <label>
                <span class="label">Title</span>
                <input name="title" type="text" value="{{ form.title.value|default:'' }}" />            
            </label><br />
            {{ form.email.errors }}
        </div>
    </fieldset>
    
    <fieldset>
        <legend>About You</legend>
        <div class="formrow">            
            <label>
                <span class="label">Email</span>
                <input name="email" type="email" value="{{ form.email.value|default:'' }}" />            
            </label>
            <span class="help">optional</span><br />
            {{ form.email.errors }}
        </div>
        
        <div class="formrow fullnamerow">
            <label>
                <span class="label">Full name</span>
                <input name="fullname" type="text" value="{{ form.fullname.value|default:'' }}" />
            </label>
            <span class="help">optional</span>
        </div>
    </fieldset>
    
    {% csrf_token %}
    
    <div class="formrow">
        <button type="submit">Signup</button>
    </div>
</form>
{% endblock %}