{% extends 'hypo/layout/row-bf_col-m.html' %}

{% block page_class %}pg-signup{% endblock %}

{% block sec_m %}
<form id="signup_form" action="" method="POST">
    <h1>Signup</h1>
    
    {{ form.non_field_errors }}
    
    <fieldset>
        <legend>Your site</legend>
        {% include 'hypo/com/site_form.html' %}
    </fieldset>
    
    <fieldset>
        <legend>About You</legend>
        {% include 'hypo/com/account_form.html' with is_signup=1 %}
    </fieldset>
    
    {% csrf_token %}
    
    <div class="formrow">
        <button type="submit">Signup</button>
    </div>
</form>
{% endblock %}