@CHARSET "UTF-8";
/*
 * utils
 * ----------------
 */
.c {clear:both}
.tpl {display:none}
html, body {height:100%}
body {overflow-y:scroll}
#rcp-preimg {display:none}
/*
 * components
 * ----------------
 */
h3,
h4 {margin-bottom:0.5em}
/*
 * header
 */
body>header {position:relative; padding:0 10px; 
             border-bottom:1px dashed #666; color:#666}
    /* position & size */
    body>header .logo,
    body>header nav,
        body>header nav a {float:left}
    body>header .curuser {float:right}
    
    body>header .logo,
    body>header nav a {display:block; height:2em; line-height:2em;
                         font-size:1.2em}
                         
    body>header .logo {padding:0 10px}
    
    body>header nav {margin-left:10px; padding-left:10px}
        body>header nav a {padding:0 10px}
        
    body>header .curuser>* {display:inline-block; height:2em; 
                              line-height:2em; font-size:1.2em}   
                               
    body>header .curuser>span {margin-right:5px}
    
    body>header .curuser>a {display:none; padding:0 5px}
        body>header .curuser:hover>a {display:inline-block}
    
    .curuser .messages {position:relative; height:100%; overflow:visible}
        .curuser .messages .count {display:inline-block; padding:0 12px; 
                                   color:#fff; background:#666}
        .curuser .messages .ls {position:absolute; top:100%; right:-50px; 
                                padding:5px; width:300px; border:2px solid #666; 
                                background:#fff; z-index:3}
            .curuser .messages .ls>* {display:block; padding:0 10px; 
                                      margin-bottom:5px; border-style:dashed;
                                      border-top:none; border-left:none; 
                                      border-right:none; background:none}
    
    /* style */
    body>header a {text-decoration:none}    
        body>header a:hover {background:#eee}
    
    body>header nav {border-left:1px solid #eee}
/*
 * footer
 */
body>footer {position:relative; padding:5px 10px; margin-top:-29px;
             border-top:1px dashed #666; text-align:right; color:#666; 
             background:#fff; z-index:1}
     body>footer a {margin:0 5px}
/*
 * body
 */
/* layout */
/* push footer */
.row-bd,
.row-bd_wrap {min-height:100%}

.row-bd_wrap {margin-top:-30px}
.row-bd_wrap .row-bd {padding-top:30px}
/* end push footer */
/*.layout-bd>.sec-right {position:fixed; top:37px; right:0; padding-right:10px; width:300px; 
                 overflow-x:hidden}
.layout-bd>.sec-left {position:absolute; margin-top:5px; padding:20px 10px 50px 10px; 
               border-right:1px dashed #999; width:100px; text-align:right}
    header+.bd>.sec-left {margin-top:42px}*/

/*.sec-left+.sec-main {padding-left:140px}*/

/*.bd>.c:first-child {height:38px; width:100%}*/
.col-m-r .sec-m {float:left}
.sec-r {float:left; width:260px; margin-left:10px}


/*
 * main section
 */
.sec-m {width:600px; padding:10px 50px 0 50px; border-right:1px solid #999}

.row-bd>.c:last-child {height:80px; width:100%}

.sec-m section {margin-bottom:20px}

/*
 * right sidebar
 */
.sec-r {padding-top:10px}
.sec-r h3 {margin:0.5em 0; color:#666; font-size:1.8em}
.sec-r h3:before {content:'> '; color:#999}

.sec-r h4 {margin-bottom:0.5em}

.sec-r>section {margin-bottom:30px}

.sec-r nav a,
.sec-r nav span {display:block; font-size:1.2em}

.sec-r nav a {text-decoration:none}
.sec-r nav a:hover {text-decoration:underline}

/*
 * messages
 */
body>.messages {position:absolute; width:100%; top:10px; text-align:center; z-index:3}
    body>.messages .message  {display:block; margin:0 20px 20px; font-size:1.2em; text-decoration:none}

/*
 * post list
 */
h1.site_title {margin:0.5em 0 1em; padding-bottom:0.5em; border-bottom:1px solid #999}
    h1.site_title sup {display:none; margin-left:0.5em}
        h1.site_title:hover sup {display:inline}
.post_list article {margin-bottom:30px}
.post_list article .content {white-space:pre-wrap}
.post_list article .content figure {white-space:normal}
.post_list .meta {margin-top:20px; padding:2px 0; border-bottom:1px solid #ccc; color:#666}

/*
 * signin
 */
.sec-r .signin {font-size:1.5em}
    .sec-r .signin h3 {font-size:1.5em}
    .sec-r .noopenid, 
    .sec-r .noopenid a {color:#999}

/*
 * author
 */
.sec-r .author {margin-top:20px}
.sec-r .author img {margin-left:-11px}

/*
 * forms
 */
.formrow {line-height:2em}
.formrow .label {display:inline-block; margin-right:5px; width:10em; text-align:right; vertical-align:baseline}
.formrow .help {margin-left:5px}

.username .help {margin-left:11em}

/*
 * page specifics
 * ----------------
 */
/*
 * under construction
 */
.pg-under_construction .sec-m {float:none; padding:100px 0 50px; text-align:center}
.pg-under_construction .go_back {font-size:2em}
/*
 * index
 */    
.pg-index .sec-m {width:500px; font-size:1.2em}
.pg-index .sec-r {position:fixed; margin-left:630px; width:300px}

.pg-index .sec-m h3 {font-size:1.2em}

.pg-index .intro {margin-top:20px}
.pg-index .intro h1 {font-size:3em}
.pg-index .intro .slogun {margin-bottom:0.5em; font-size:1.5em}
.pg-index .intro .explore {margin-bottom:0.5em; font-size:x-large}

.pg-index .news {margin-top:1.5em}

/*
 * post
 */